.wrapper {
  width: 100%;
  min-height: 100vh;
  background-color: var(--background);
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .container {
    padding-top: 104px;
  }
}

:global(body.forced-bottom-nav) .container {
  padding-top: 0 !important;
}
